.text-inherit {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;

  color: inherit;
}

.fs100p { font-size: 100%; }

.f300 { font-weight: 300; }
.f400 { font-weight: 400; }
.f700 { font-weight: 700; }

.underline { text-decoration: underline; }

.monospace {
  // font-variant-numeric: tabular-nums;
  font-family: monospace;
}
